<div class = "menu-segment" data-element-id="site-menu-segment">
     <div class = "site-menu-segment-header"> 
      <a href = "#" class = "tumble-software-accordian-min"  data-accordian="tumble-software-collapse-window"></a>
      
      <a href = "" data-replace="link" class="site-menu-header-link">
         <span data-replace="text"></span>
      </a>
      
    </div>
      <div class = "menu-segment-sub-menu tumble-software-collapse-window" data-element-id="site-menu-sub-menu" data-collapse="true" data-replace="sub-menu">
      
      </div>
</div>

