<div id = "tumble-software-add-to-node" data-add-to-element="main">
    
    <h2>Admin Configuration</h2>
    
    <div class = "tumble-software-form-info">Create an Administrator to manage the back end functionality of the site.</div>

    <div class = " form-wrapper">
        <div class = "add-admin-details" data-segment = "add-admin">
        
        
        
        </div>
        <h3>Settings</h3>
        <div class = "add-admin-settings" data-segment = "add-admin-settings">
        
          
        
        
        </div>
        
        <div class = "add-admin-settings" data-segment = "add-admin-settings-right">
        
          
        
        
        </div>
        
        <div data-segment = "add-admin-submit">
        
        
        
        </div>
    
    </div>

</div>
