<!--Contains the basic framework for my add many class-->

<div class = "tumble-software-add-many">

    <h5 class="tumble-software-add-many-header" data-item="title"></h5>

    <div class = "tumble-software-add-many-inline">

        <span class = "tumble-software-add-many-add-button">
        
             <label>Options</label>
             <button type = "button">ADD</button>
        
        </span>
        
        <div class = "tumble-software-add-many-add-row">
        

        
        </div>

    </div>
    
    <hr />
    
    <div class = "tumble-software-add-many-data">
    
    
    
    </div>

</div>


